<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quadraticEquationApp/form.css' %}">
    <meta charset="UTF-8">
    <title>Enter new equation</title>
</head>
<body>
<h1>Equation input form</h1>

{% if error_message %}<p>{{ error_message }}</p>{% endif %}

<form action="{% url 'quadraticEquationApp:save' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td></td>
            <td align="center">ax^2 + bx + c = 0</td>
        </tr>
        <tr>
            <td>a</td>
            <td><input type="number" step="any" name="a"></td>
        </tr>

        <tr>
            <td>b</td>
            <td><input type="number" step="any" name="b"></td>
        </tr>

        <tr>
            <td>c</td>
            <td><input type="number" step="any" name="c"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Save equation"></td>
        </tr>
    </table>
</form>

<a href="{% url 'quadraticEquationApp:eqList' %}">See all equations</a>
</body>
</html>